body {
	user-select: none;
}

#button, #titulo {
	text-align: center;
}

.slider-wrapper {
  display: inline-block;
  width: 20px;
  height: 150px;
  padding: 0;
}

input {
    /* junta os inputs */
    float: left;
}
